<%- include('../includes/head.ejs') %>
</head>

<body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if (products.length > 0) { %>
                <ul>
                        <% for (let product of products) {%>
                        <li>
                                <p>
                                        <%= product.productData.title %> (
                                        <%= product.qty %>)
                                        <form action="/cart-delete-item" method="POST">
                                                <button type="submit" class="btn">Delete</button>
                                                <input type="hidden" value="<%= product.productData.id%>" name="productId">
                                                <input type="hidden" value="<%= product.productData.price%>" name="price">
                                        </form>
                                </p>

                        </li>
                        <%}%>
                </ul>
                <%} else {%>
                <h1>No products in Cart</h1>
                <%}%>
        </main>


        <%- include('../includes/end.ejs') %>